In [3]:
import pandas as pd
import numpy as np
import random

np.random.seed(42)
random.seed(42)

data = {
    "ID_Venda": range(1, 1001),
    "Data": pd.date_range(start="2023-01-01", periods=1000, freq="D"),
    "Produto": random.choices(["Maçã", "Banana", "Laranja", "Uva", "Pera", "Melancia"], k=1000),
    "Quantidade": np.random.randint(1, 20, size=1000),
    "Preço_Unitário": np.round(np.random.uniform(1.0, 10.0, size=1000), 2),
    "Cidade": random.choices(["SP", "RJ", "BH", "POA", "DF"], k=1000),
    "Cliente": [f"Cliente_{i}" for i in range(1, 1001)],
    "Desconto": np.round(np.random.uniform(0.0, 0.3, size=1000), 2)
}

df = pd.DataFrame(data)


df["Total_Venda"] = df["Quantidade"] * df["Preço_Unitário"] * (1 - df["Desconto"])

df.head(10)

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708
5,6,2023-01-06,Pera,19,7.44,RJ,Cliente_6,0.18,115.9152
6,7,2023-01-07,Melancia,11,6.93,SP,Cliente_7,0.15,64.7955
7,8,2023-01-08,Maçã,11,1.24,SP,Cliente_8,0.09,12.4124
8,9,2023-01-09,Laranja,4,3.00,DF,Cliente_9,0.17,9.9600
9,10,2023-01-10,Maçã,8,3.08,BH,Cliente_10,0.21,19.4656

Nível Fácil

Seleção Básica: Mostre apenas as colunas Produto, Quantidade e Cidade.

In [89]:
df[['Produto', 'Quantidade', 'Cidade']]

      Produto  Quantidade Cidade
0         Uva           7     SP
1        Maçã          15    POA
2      Banana          11     BH
3      Banana           8     DF
4        Pera           7     RJ
..        ...         ...    ...
995      Maçã           1     RJ
996   Laranja           8     BH
997   Laranja           7    POA
998  Melancia           3     RJ
999  Melancia          10     RJ

[1000 rows x 3 columns]

Filtro Simples: Liste todas as vendas onde a Quantidade foi maior que 10.

In [ ]:
df[df['Quantidade'] > 10]

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda,lucro,Lucro,Mês
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352,7.224,5.7792,1
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000,30.600,15.3000,1
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100,15.444,2.5740,1
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752,2.952,0.7872,1
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708,5.061,2.3618,1

Ordenação: Ordene o DataFrame por Data (do mais recente para o mais antigo).

In [10]:
df.sort_values('Data', ascending= False)

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda
999,1000,2025-09-26,Melancia,10,8.36,RJ,Cliente_1000,0.27,61.0280
998,999,2025-09-25,Melancia,3,7.53,RJ,Cliente_999,0.11,20.1051
997,998,2025-09-24,Laranja,7,2.19,POA,Cliente_998,0.08,14.1036
996,997,2025-09-23,Laranja,8,2.48,BH,Cliente_997,0.23,15.2768
995,996,2025-09-22,Maçã,1,1.39,RJ,Cliente_996,0.16,1.1676
...,...,...,...,...,...,...,...,...,...
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352

Contagem: Conte quantas vendas foram feitas em cada Cidade.

In [11]:
df.value_counts('Cidade')

Cidade
POA    213
BH     203
RJ     200
SP     197
DF     187
Name: count, dtype: int64

Média: Calcule a média de Preço_Unitário para o produto "Maçã".

In [29]:
maca_df = df[df['Produto'] == 'Maçã']
media_maca = maca_df['Preço_Unitário'].mean()
media_maca

np.float64(5.3507947019867546)

Nível Médio

Agregação: Calcule o total de vendas por produto (use groupby)

In [64]:
df.groupby('Produto')['Total_Venda'].sum()
df.head()

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda,lucro,Lucro
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352,7.224,5.7792
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000,30.600,15.3000
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100,15.444,2.5740
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752,2.952,0.7872
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708,5.061,2.3618

Novas Colunas: Crie uma coluna "Lucro" assumindo que o custo unitário é 70% do Preço_Unitário.

In [ ]:
preco_com_desconto = df['Preço_Unitário'] * (1 - df['Desconto'])
custo_unitario = 0.7 * df['Preço_Unitário']
lucro_unitario = preco_com_desconto - custo_unitario
df['Lucro'] = lucro_unitario * df['Quantidade']
df.head()

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda,Lucro,Mês
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352,5.7792,1
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000,15.3000,1
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100,2.5740,1
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752,0.7872,1
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708,2.3618,1

Filtro Avançado: Liste vendas onde Total_Venda > 50 e Cidade é "SP".

In [101]:
filtro = df[(df.Total_Venda > 50) & (df.Cidade == 'SP')]
filtro

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda,Lucro,Mês
6,7,2023-01-07,Melancia,11,6.93,SP,Cliente_7,0.15,64.7955,11.4345,1
33,34,2023-02-03,Melancia,14,4.79,SP,Cliente_34,0.22,52.3068,5.3648,2
34,35,2023-02-04,Laranja,18,9.03,SP,Cliente_35,0.06,152.7876,39.0096,2
39,40,2023-02-09,Uva,12,6.31,SP,Cliente_40,0.09,68.9052,15.9012,2
46,47,2023-02-16,Maçã,18,9.54,SP,Cliente_47,0.18,140.8104,20.6064,2
...,...,...,...,...,...,...,...,...,...,...,...
973,974,2025-08-31,Melancia,7,9.49,SP,Cliente_974,0.17,55.1369,8.6359,8
978,979,2025-09-05,Banana,17,6.81,SP,Cliente_979,0.11,103.0353,21.9963,9
980,981,2025-09-07,Maçã,16,8.34,SP,Cliente_981,0.07,124.0992,30.6912,9
981,982,2025-09-08,Melancia,8,8.75,SP,Cliente_982,0.06,65.8000,16.8000,9
990,991,2025-09-17,Laranja,17,6.91,SP,Cliente_991,0.08,108.0724,25.8434,9

Pivot Table: Crie uma tabela dinâmica que mostre a média de quantidade por produto e cidade.

In [102]:
df.pivot_table(index= ['Produto', 'Cidade'], values= 'Quantidade')

                 Quantidade
Produto  Cidade
Banana   BH       10.604651
         DF        9.296296
         POA       9.250000
         RJ       10.828571
         SP       10.545455
Laranja  BH        9.800000
         DF        8.650000
         POA      10.055556
         RJ        9.451613
         SP        9.034483
Maçã     BH       10.033333
         DF       10.542857
         POA      12.615385
         RJ       10.161290
         SP        8.586207
Melancia BH        9.064516
         DF       10.069767
         POA       8.666667
         RJ       10.514286
         SP        9.555556
Pera     BH        9.062500
         DF       11.142857
         POA       8.193548
         RJ       10.250000
         SP        9.589744
Uva      BH       10.031250
         DF       10.481481
         POA       7.978723
         RJ        9.000000
         SP        9.548387

Datas: Extraia o mês da coluna Data e crie uma nova coluna chamada "Mês".

In [103]:
df['Data'] = pd.to_datetime(df['Data'])
df['Mês'] = df['Data'].dt.month
df.head()

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda,Lucro,Mês
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352,5.7792,1
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000,15.3000,1
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100,2.5740,1
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752,0.7872,1
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708,2.3618,1

Nível Difícil

Join: Crie um segundo DataFrame com Descontos_Especiais (ex: "Maçã" tem 15% off) e faça um merge com o DataFrame original.

In [111]:
Descontos_Especiais = pd.DataFrame({
    'Produto': ["Maçã", "Banana", "Laranja"],
    'Desconto_Especial': [0.15, 0.1, 0.22]   
        })

df_com_desconto_especiais = pd.merge(df, Descontos_Especiais, on = 'Produto', how= 'left')

df_com_desconto_especiais['Desconto_Especial'] = df_com_desconto_especiais['Desconto_Especial'].fillna(0)
df_com_desconto_especiais

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda,Lucro,Mês,Desconto_Especial
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352,5.7792,1,0.00
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000,15.3000,1,0.15
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100,2.5740,1,0.10
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752,0.7872,1,0.10
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708,2.3618,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2025-09-22,Maçã,1,1.39,RJ,Cliente_996,0.16,1.1676,0.1946,9,0.15
996,997,2025-09-23,Laranja,8,2.48,BH,Cliente_997,0.23,15.2768,1.3888,9,0.22
997,998,2025-09-24,Laranja,7,2.19,POA,Cliente_998,0.08,14.1036,3.3726,9,0.22
998,999,2025-09-25,Melancia,3,7.53,RJ,Cliente_999,0.11,20.1051,4.2921,9,0.00
999,1000,2025-09-26,Melancia,10,8.36,RJ,Cliente_1000,0.27,61.0280,2.5080,9,0.00

Função Personalizada: Aplique uma função que classifique Total_Venda como "Baixo" (< 30), "Médio" (30-100) ou "Alto" (> 100).

In [112]:
def classificar_venda(valor):
    if valor < 30:
        return "Baixo"
    elif 30 <= valor <= 100:
        return "Médio"
    else:
        return "Alto"
    
df['Classificação'] = df['Total_Venda'].apply(classificar_venda)
df[['Total_Venda', 'Classificação']].head()

   Total_Venda Classificação
0      22.6352         Baixo
1      86.7000         Médio
2      38.6100         Médio
3       7.6752         Baixo
4      14.1708         Baixo

Séries Temporais: Calcule a média móvel do Total_Venda para os últimos 7 dias.

In [156]:
df['Média_Movel'] = df['Total_Venda'].rolling(window=7).mean().fillna(0)
df.head(10)

,ID_Venda,Data,Produto,Quantidade,Preço_Unitário,Cidade,Cliente,Desconto,Total_Venda,Lucro,Mês,Classificação,Média_Movel
0,1,2023-01-01,Uva,7,3.44,SP,Cliente_1,0.06,22.6352,5.7792,1,Baixo,0.000000
1,2,2023-01-02,Maçã,15,6.80,POA,Cliente_2,0.15,86.7000,15.3000,1,Médio,0.000000
2,3,2023-01-03,Banana,11,4.68,BH,Cliente_3,0.25,38.6100,2.5740,1,Médio,0.000000
3,4,2023-01-04,Banana,8,1.23,DF,Cliente_4,0.22,7.6752,0.7872,1,Baixo,0.000000
4,5,2023-01-05,Pera,7,2.41,RJ,Cliente_5,0.16,14.1708,2.3618,1,Baixo,0.000000
5,6,2023-01-06,Pera,19,7.44,RJ,Cliente_6,0.18,115.9152,16.9632,1,Alto,0.000000
6,7,2023-01-07,Melancia,11,6.93,SP,Cliente_7,0.15,64.7955,11.4345,1,Médio,50.071700
7,8,2023-01-08,Maçã,11,1.24,SP,Cliente_8,0.09,12.4124,2.8644,1,Baixo,48.611300
8,9,2023-01-09,Laranja,4,3.00,DF,Cliente_9,0.17,9.9600,1.5600,1,Baixo,37.648443
9,10,2023-01-10,Maçã,8,3.08,BH,Cliente_10,0.21,19.4656,2.2176,1,Baixo,34.913529